<div class="container-fliud">
    <div class="row bgheader">
      <div class="col-3 d1header">
        <div class="row">
            <div class="col-4 hd11">hd11</div>
            <div class="col-8 hd12">
                <div class="row">
                    <div class="col-4 hd12_1">hd12_1</div>
                    <div class="col-8 hd12_2">hd12_2</div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6 d2header">
        <div class="row">
            <div class="col-3 hd21">hd21</div>
            <div class="col-2 hd22">hd22</div>
            <div class="col-2 hd23">hd23</div>
            <div class="col-2 hd24">hd24</div>
            <div class="col-3 hd25">hd25</div>
        </div>
      </div>
      <div class="col-3 d3header">
        <div class="row">
            <div class="col-3 hd31">hd31</div>
            <div class="col-3 hd32">hd32
                <div class="row">
                    <div class="col hd32_1">hd32_1</div>
                </div>
            </div>
            <div class="col-3 hd33">hd33
                <div class="row">
                    <div class="col hd33_1">hd33_1</div>
                </div>
            </div>
            <div class="col-3 hd34">hd34</div>
      </div>
    </div>
  </div>