
<div class="container-fluid body">

  <app-header></app-header>
  
    <div class="row row-slidbar-body d-flex pt-4 pl-1">
        <div class="d-none col-3 d-lg-flex">
            <app-left-sidebar></app-left-sidebar>
        </div>


        <div Class="col-lg-6 col-md-8 col-xs-12 d-flex justify-content-center flex-column" >
            <app-center-body></app-center-body>
        </div>
      
        <div class="d-none col-md-4 d-md-flex col-lg-3 d-lg-flex mr-0 pr-0">
            <app-right-sidebar></app-right-sidebar>
        </div>
    </div>
</div>



<!-- <div>
  <span [ngClass]="{'green' : a == 'Active'   , 'red': a == 'Inactive' }">{{a | json}}</span>


  <span [ngStyle]="{'color': a == 'Active' ? 'green' : 'red'}"> Test </span>
  
</div> -->

<!-- ng generate component center-body  -->


 