
div.bgheader{
    background-color: rgb(224, 209, 209);
    height:80px;
}

div.d1header{
    background-color: rgb(245, 207, 207);
}

div.d2header{
    background-color:aqua;
}

div.d3header{
    background-color:rgb(181, 139, 236);
}
div.hd11{
    background-color: rgb(130, 175, 158);
}
div.hd12{
    background-color: rgb(246, 247, 187);
}
div.hd12_1{
    background-color: rgb(238, 248, 145);
}
div.hd12_1{
    background-color: rgb(150, 216, 191);
}
div.hd21{
    background-color: lightpink;
}
div.hd22{
    background-color: rgb(92, 150, 128);
}
div.hd23{
    background-color: rgb(233, 126, 142);
}
div.hd24{
    background-color: rgb(170, 196, 178);
}
div.hd25{
    background-color: rgb(142, 96, 163);
}
div.hd31{
    background-color: rgb(98, 117, 158);
}
div.hd32{
    background-color: rgb(177, 216, 214);
}
div.hd33{
    background-color: rgb(177, 196, 147);
}
div.hd34{
    background-color: rgb(180, 102, 102);
}
div.hd32_1{
    background-color: rgba(119, 93, 108, 0.822);
}
div.hd33_1{
    background-color: rgb(201, 209, 156);
}