.body{
    background-color: #F0F2F5;
}
.row-header{
    background-color: white;
    height:55px;
}
.fb-logo{
    align-items: center;
    height: 52px;
    width: 84px;
    margin-left: -19px;
}
.profile-photo{
    align-items: center;
    height: 52px;
    width: 66px;
    border-radius: 27px;
    padding: 3px;
}
